@import "./styles/reset.scss";

html {
  background-color: #dfdfdf;
}
.app {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;

  button {
    border: none;
    background: #a2a2a2;
    border-radius: 5px;
    // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  .view-button,
  .edit-button {
    // background: rgba(223, 223, 223, 0.5);
    font-size: 16px;
    width: 50px;
    height: 50px;
  }

  .add-phoneme,
  .remove-phoneme {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    width: 50px;
    height: 50px;
  }

  .phonemes {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .phoneme {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-top-style: solid;

    &.orange {
      border-top-color: #ffa229;
    }
    &.purple {
      border-top-color: #d4a3ff;
    }
    &.yellow {
      border-top-color: #ffff7b;
    }
    &.grey {
      border-top-color: #a2a2a2;
    }
    &.pink {
      border-top-color: #ffc5ff;
    }
    &.blue {
      border-top-color: #c4e7ff;
    }
  }

  .view {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 100vh;
    .edit-button {
      background-color: transparent;
      position: absolute;
      top: 10px;
      right: 10px;
      background-image: url("./icons/settings-24px.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0.5;
    }
  }

  .edit {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: min-content 1fr;
    .selection {
      padding: 10px;
      background: #bcbcbc;
      display: flex;
      flex-wrap: wrap;
      overflow-y: auto;
      align-items: flex-start;
      justify-content: center;
      align-content: flex-start;
      .phoneme {
        border-top-width: 20px;
        border-radius: 15px;
        width: 80px;
        height: 100px;
        margin: 10px;
        font-size: 40px;
      }
    }
    .view-button {
      background-color: transparent;
      position: absolute;
      top: 10px;
      right: 10px;
      background-image: url("./icons/play_circle_filled-24px.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0.5;
    }
  }

  .selected {
    &.active {
      background: #bcbcbc;
    }
    .phoneme {
      border-top-width: 20px;
      border-radius: 15px;
      width: 100px;
      height: 150px;
      margin: 10px 10px;
      font-size: 60px;
    }
  }

  .view {
    .phoneme {
      border-radius: 20px;
      border-top-width: 40px;
      margin: 0 20px;
      width: 250px;
      height: 300px;
      font-size: 150px;
    }
  }
}
